
h1 {
    text-align: center;
    color: blue;
}

p {
    color: blue;
}

.cap2{
    margin-left: 90%;
    margin-top: -9%;
}
table{
    width: 100%;
    border-collapse: collapse;
}
td, th {
    padding: 20px;
    border: 2px solid black;
    text-align:center;

}
td{
    text-align: left;
}

.table-header1{
    background-color: yellow
}
.table-header2{
    background-color: orange;
}
.stt{
    text-align:center;
}